@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';

/** Load AlphaLyrae font */
@font-face {
  font-family: AlphaLyrae;
  src: url('/AlphaLyrae.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gs-0: 0 0 0;
    --gs-50: 4 4 5;
    --gs-100: 76 78 81;
    --gs-200: 101 103 107;
    --gs-300: 129 131 136;
    --gs-400: 170 171 174;
    --gs-400-hex: #aaabae;
    --gs-500: 209 210 211;
    --gs-600: 233 233 234;
    --gs-600-hex: #e9e9ea;
    --gs-700: 238 238 239;
    --gs-800: 244 244 244;
    --gs-800-hex: #f4f4f4;
    --gs-900: 249 250 250;

    /* Intent Variants */
    --intent-none: 209 210 211;
    --intent-none-outline: 209 210 211;
    --intent-none-foreground: 4 4 5;

    --intent-primary: 0 117 255;
    --intent-primary-outline: 0 117 255;
    --intent-primary-foreground: 255 255 255;

    --intent-secondary: 0 117 255;
    --intent-secondary-outline: 0 117 255;
    --intent-secondary-foreground: 255 255 255;

    --intent-danger: 236 0 60;
    --intent-danger-outline: 236 0 60;
    --intent-danger-foreground: 255 255 255;

    --intent-info: 0 117 255;
    --intent-info-outline: 0 117 255;
    --intent-info-foreground: 255 255 255;

    --intent-warning: 255 135 0;
    --intent-warning-outline: 255 135 0;
    --intent-warning-foreground: 255 255 255;

    --intent-success: 0 247 128;
    --intent-success-outline: 0 247 128;
    --intent-success-foreground: 255 255 255;

    /* Buttons */
    --button-border-radius-xs: theme(borderRadius.DEFAULT);
    --button-border-radius-sm: theme(borderRadius.DEFAULT);
    --button-border-radius-md: theme(borderRadius.DEFAULT);
    --button-border-radius-lg: theme(borderRadius.lg);
  }

  .dark {
    --gs-0: 255 255 255;
    --gs-50: 220 222 227;
    --gs-100: 148 150 155;
    --gs-200: 124 126 131;
    --gs-300: 98 100 105;
    --gs-400: 68 70 75;
    --gs-400-hex: #44464b;
    --gs-500: 50 51 57;
    --gs-600: 41 43 48;
    --gs-600-hex: #292b30;
    --gs-700: 32 34 39;
    --gs-800: 23 25 30;
    --gs-800-hex: #17191e;
    --gs-900: 5 6 12;
  }
}

/**
 * TAILWIND HELPERS
 */

html,
body,
#__next {
  @apply h-full;
}

.font-mono {
  @apply tracking-tighter;
}

.text-default {
  @apply text-gs-50;
}

.text-secondary {
  @apply text-gs-100;
}

.text-muted {
  @apply text-gs-100;
}

.border-default {
  @apply border-gs-600;
}

/**
 * ALLOTMENT
 */

html {
  --focus-border: theme(colors.vega.pink.500);
  --pennant-color-danger: theme(colors.vega.pink.500);
}

html.dark {
  --focus-border: theme(colors.vega.yellow.500);
}

/* hide pane separation border, we leave it blank so border is applied within a padded area */
.split-view-view::before {
  display: none;
}

/* re show separator border within chart */
.plot-container__chart .split-view-view::before {
  display: block;
}

/**
 * PENNANT
 *
 * NOTE: that pennant requires hex values for colors, as it will internally convert
 * these to rgb, not using hex results in colors not being set as expected
 */

html [data-theme='dark'],
html [data-theme='light'] {
  /* fonts */
  --pennant-font-family-base: theme(fontFamily.alpha);
  --pennant-font-family-monospace: theme(fontFamily.mono);
  --pennant-background-surface-color: var(--gs-800-hex);
  --pennant-hover-overlay: rgb(var(--gs-800) / 0.5);
  --separator-border: var(--gs-400-hex);
  --pennant-background-label-color: var(--gs-600-hex);

  /* sell candles only use stroke as the candle is solid (without border) */
  --pennant-color-sell-stroke: theme(colors.market.red.DEFAULT);

  /* studies */
  --pennant-color-eldar-ray-bear-power: theme(colors.market.red.DEFAULT);
  --pennant-color-eldar-ray-bull-power: theme(colors.market.green.600);

  --pennant-color-macd-divergence-buy: theme(colors.market.green.600);
  --pennant-color-macd-divergence-sell: theme(colors.market.red.DEFAULT);
  --pennant-color-macd-signal: theme(colors.vega.blue.DEFAULT);
  --pennant-color-macd-macd: theme(colors.vega.yellow.500);

  --pennant-color-volume-sell: theme(colors.market.red.DEFAULT);

  /* reduce space between candles */
  --pennant-candlestick-inner-padding: 0.25;
}

html [data-theme='light'] {
  /* candles */
  --pennant-color-buy-fill: theme(colors.market.green.DEFAULT);
  --pennant-color-buy-stroke: theme(colors.market.green.600);

  /* sell uses stroke for fill and stroke */
  --pennant-color-sell-stroke: theme(colors.market.red.DEFAULT);

  /* depth chart */
  --pennant-color-depth-buy-fill: theme(colors.market.green.DEFAULT);
  --pennant-color-depth-buy-stroke: theme(colors.market.green.600);
  --pennant-color-depth-sell-fill: theme(colors.market.red.DEFAULT);
  --pennant-color-depth-sell-stroke: theme(colors.market.red.650);

  --pennant-color-volume-buy: theme(colors.market.green.DEFAULT);
  --pennant-color-volume-sell: theme(colors.market.red.DEFAULT);
}

html [data-theme='dark'] {
  /* candles */
  --pennant-color-buy-fill: theme(colors.market.green.600);
  --pennant-color-buy-stroke: theme(colors.market.green.DEFAULT);

  /* sell uses stroke for fill and stroke */
  --pennant-color-sell-stroke: theme(colors.market.red.DEFAULT);

  /* depth chart */
  --pennant-color-depth-buy-fill: theme(colors.market.green.600);
  --pennant-color-depth-buy-stroke: theme(colors.market.green.DEFAULT);
  --pennant-color-depth-sell-fill: theme(colors.market.red.650);
  --pennant-color-depth-sell-stroke: theme(colors.market.red.DEFAULT);

  --pennant-color-volume-buy: theme(colors.market.green.600);
  --pennant-color-volume-sell: theme(colors.market.red.DEFAULT);
}

/**
 * AG GRID
 *
 * - Do not edit without updating other global stylesheets for each app
 */

.vega-ag-grid .ag-root-wrapper {
  border: solid 0px;
}

.vega-ag-grid .ag-react-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.vega-ag-grid .ag-cell,
.vega-ag-grid .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: calc(min(var(--ag-line-height, 26px), 26px) - 4px);
}

.vega-ag-grid .ag-row,
.vega-ag-grid .ag-cell {
  border-width: 0;
}

.vega-ag-grid .ag-cell .ag-cell-wrapper {
  height: 100%;
}

.vega-ag-grid .ag-header-row {
  @apply font-normal font-alpha;
}

.ag-theme-balham,
.ag-theme-balham-dark {
  --ag-grid-size: 3px; /* Used for compactness */
  --ag-row-height: 36px;
  --ag-header-height: 28px;
}

@media (min-width: theme(screens.xxl)) {
  .ag-theme-balham,
  .ag-theme-balham-dark {
    --ag-header-height: 36px;
  }
}

/* Light variables */
.ag-theme-balham {
  --ag-background-color: theme(colors.gs.900);
  --ag-border-color: theme(colors.gs.600);
  --ag-header-background-color: theme(colors.gs.700);
  --ag-odd-row-background-color: transparent;
  --ag-header-column-separator-color: theme(colors.gs.500);
  --ag-row-border-color: theme(colors.gs.600);
  --ag-row-hover-color: theme(colors.gs.800);
  --ag-modal-overlay-background-color: rgb(var(--gs-800) / 50%);
}

/* Dark variables */
.ag-theme-balham-dark {
  --ag-background-color: theme(colors.gs.900);
  --ag-border-color: theme(colors.gs.600);
  --ag-header-background-color: theme(colors.gs.700);
  --ag-odd-row-background-color: transparent;
  --ag-header-column-separator-color: theme(colors.gs.500);
  --ag-row-border-color: theme(colors.gs.600);
  --ag-row-hover-color: theme(colors.gs.800);
  --ag-modal-overlay-background-color: rgb(var(--gs-800) / 50%);
}

.ag-theme-balham-dark .ag-row.no-hover,
.ag-theme-balham-dark .ag-row.no-hover:hover,
.ag-theme-balham .ag-row.no-hover,
.ag-theme-balham .ag-row.no-hover:hover {
  background: var(--ag-background-color);
}

/**
 * REACT VIRTUALIZED list
 */
.vega-scrollbar {
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: #999 #333;
}

/* Works on Chrome, Edge, and Safari */
.vega-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #999;
}

.vega-scrollbar::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #333;
}
.vega-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #999;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
