@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full;
}

/* Styles for allotment */
html {
  --focus-border: theme('colors.vega.pink');
  --separator-border: theme('colors.neutral.300');
}

html.dark {
  --focus-border: theme('colors.vega.yellow');
  --separator-border: theme('colors.neutral.600');
}

.border-default {
  @apply border-neutral-300 dark:border-neutral-600;
}
