@import "../../styles/colors";

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__animation {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;

    div {
      width: 10px;
      height: 10px;
      background: white;
      opacity: 0;
    }
  }
}
