@import "../../styles/colors";
@import "../../styles/fonts";

.tranche {
  &__user-list {
    list-style: none;
    padding: 0;
    &--item {
      padding-bottom: 5px;
    }
  }

  &__progress {
    border-left: 1px solid $white;
    border-right: 1px solid $white;

    &-contents {
      display: flex;
      justify-content: space-between;
      gap: 0 5px;
      font-family: $font-mono;
      padding: 2px 5px 2px 5px;
      color: $text-color-deemphasise;
    }
  }

  &__redeemed {
    display: flex;
    justify-content: space-between;
    gap: 0 5px;
    padding: 2px 5px 2px 5px;
    :last-child {
      font-family: $font-mono;
      color: $text-color-deemphasise;
    }
  }
}
