@import "../../../../styles/colors";

.proposals-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li a {
    text-decoration: none;

    &:hover {
      color: $vega-yellow3;
    }
  }

  > li + li {
    margin-top: 30px;
  }

  &__item-header {
    p {
      margin: 0 0 3px 0;
    }
  }
}
