@tailwind base;
@tailwind components;

/* Here add custom component styles as necessary */
@font-face {
  font-family: AlphaLyrae;
  src: url(./AlphaLyrae-Medium.woff);
}

.font-ap {
    font-family: AlphaLyrae, "Helvetica neue", "Helvetica", arial, sans-serif;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
}

.stats-grid {
  display: grid;
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: 18rem 1fr;
    grid-column-gap: 1.25rem;
    align-items: flex-start;
  }

  .stats-grid h3 {
    grid-column: span 2;
  }
}

.threshold {
    width: 10px;
    height: 10px;
}

.bg-vega-green {
  background-color: #26ff8a;
}

.bg-vega-red {
  background-color: #ff261a;
}

.fill-vega-green {
  fill: #26ff8a;
}

@tailwind utilities;
