@tailwind base;
@tailwind components;

@font-face {
  font-family: 'AlphaLyrae-Medium';
  src: url('./AlphaLyrae-Medium.woff');
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
}

.stats-grid {
  display: grid;
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: 18rem 1fr;
    grid-column-gap: 1.25rem;
    align-items: flex-start;
  }

  .stats-grid h3 {
    grid-column: span 2;
  }
}

@tailwind utilities;
