# Add files here to ignore them from prettier formatting

/dist
/coverage
__generated__
__generated___

apps/static/src/assets/devnet-tranches.json
apps/static/src/assets/mainnet-tranches.json
apps/static/src/assets/testnet-tranches.json

/apps/**/cypress/reports/
/apps/**/cypress/downloads/

/.nx/cache
