@import "../../styles/colors";

button.eth-connect-modal__button {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }

  > div:last-child {
    color: $text-color-deemphasise;
    font-size: 0.9em;
  }
}

.eth-connect-modal__error {
  color: $vega-red3;
}
