@import "../../styles/colors";
@import "../../styles/fonts";

.wallet-card {
  background-color: $white;
  color: $black;
  font-size: 14px;
  border: 1px solid $white; // adding this white border on the white background makes both wallets the same size

  &--inverted {
    background-color: $black;
    color: $white;
    border: 1px solid $white;
  }

  &__price {
    &--decimal {
      color: $text-color-deemphasise;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    > span {
      &:first-child {
        text-transform: uppercase;
      }

      &:last-child {
        font-family: $font-mono;
      }
    }

    h1 {
      color: $black;
      size: 32px;
      padding: 0 8px;
      margin: 0;
      text-transform: uppercase;
    }

    h2 {
      margin: 0;
      padding: 8px 0;
    }

    &--inverted {
      h1 {
        color: $white;
      }
    }
  }

  &__content {
    margin: 4px 8px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 0 5px;
    color: $black;
    font-size: 14px;
    padding: 2px;
    margin: 4px 0;

    span:first-child {
      max-width: 200px;
    }

    span:last-child:not(:first-child) {
      font-family: $font-mono;
      flex: 1 1 0;
      text-align: right;
    }

    &--dark {
      color: $text-color-emphasise;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px 0;
  }

  &__asset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-top: 8px;

    &-image {
      height: 30px;
      border-radius: 50%;
      border: 1px solid $black;
    }

    &-image--border {
      border: 1px solid white;
    }

    h1 {
      color: $black;
      font-size: 18px;
      margin: 0;
      padding: 0 8px;
      text-transform: uppercase;
    }

    h2 {
      margin: 0;
      font-size: 18px;
      color: $text-color-deemphasise;
      text-transform: uppercase;
    }

    &--dark {
      h1 {
        color: $white;
      }
    }

    &-heading {
      display: flex;
    }

    &-balance {
      padding: 0 8px;
      font-size: 20px;
      flex-basis: 100%;

      &--decimal {
        color: $text-color-deemphasise;
      }
    }
  }
}
