.ag-theme-alpine {
  --ag-line-height: 24px;
  --ag-row-hover-color: transparent;
  --ag-header-background-color: #f5f5f5;
  --ag-odd-row-background-color: transparent;
  --ag-header-foreground-color: #000;
  --ag-secondary-foreground-color: #fff;
  --ag-font-family: 'Helvetica Neue';
  --ag-font-size: 12px;

  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.ag-theme-alpine .ag-cell {
  display: flex;
}

.ag-theme-alpine .ag-header {
  border: 1px solid #bfccd6;
}

.ag-theme-alpine .ag-root-wrapper {
  border: none;
}

.ag-theme-alpine .ag-row {
  border: none;
  border-bottom: 1px solid #bfccd6;
  font-size: 12px;
}

.ag-theme-alpine .ag-root-wrapper-body.ag-layout-normal {
  height: auto;
}
