@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full;
}

#swarm {
  animation: swarm 20s infinite;
  clip-path: path(
    'M 0.00,0.00 C 0.00,0.00 0.00,102.00 0.00,102.00 0.00,102.00 502.00,102.00 502.00,102.00 502.00,102.00 502.00,0.00 502.00,0.00 502.00,0.00 502.00,77.50 380.00,75.50 322.50,70.50 320.25,43.25 239.00,40.25 181.25,38.75 169.50,80.25 97.50,78.00 18.00,74.75 0.00,0.00 0.00,0.00 Z'
  );
}

@keyframes swarm {
  0% {
    clip-path: path(
      'M 0.00,0.00 C 0.00,0.00 0.00,102.00 0.00,102.00 0.00,102.00 502.00,102.00 502.00,102.00 502.00,102.00 502.00,0.00 502.00,0.00 502.00,0.00 502.00,77.50 380.00,75.50 322.50,70.50 320.25,43.25 239.00,40.25 181.25,38.75 169.50,80.25 97.50,78.00 18.00,74.75 0.00,0.00 0.00,0.00 Z'
    );
  }
  50% {
    clip-path: path(
      'M 0.00,0.00 C 0.00,0.00 0.00,102.00 0.00,102.00 0.00,102.00 502.00,102.00 502.00,102.00 502.00,102.00 502.00,0.00 502.00,0.00 502.00,0.00 464.00,39.75 370.50,37.75 313.00,32.75 317.25,93.00 236.00,90.00 178.25,88.50 163.00,31.75 91.00,29.50 11.50,26.25 0.00,0.00 0.00,0.00 Z'
    );
  }
  100% {
    clip-path: path(
      'M 0.00,0.00 C 0.00,0.00 0.00,102.00 0.00,102.00 0.00,102.00 502.00,102.00 502.00,102.00 502.00,102.00 502.00,0.00 502.00,0.00 502.00,0.00 502.00,77.50 380.00,75.50 322.50,70.50 320.25,43.25 239.00,40.25 181.25,38.75 169.50,80.25 97.50,78.00 18.00,74.75 0.00,0.00 0.00,0.00 Z'
    );
  }
}
