@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@import './styles/colors';
@import './styles/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// TODO replace with blueprint themeing
// TYPOGRAPHY
p {
  word-break: break-word;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

a,
.link {
  text-decoration: underline;
  color: $white;

  &:hover {
    color: $vega-yellow3;
  }
}

.text-muted {
  color: $text-color-deemphasise;
}

.text-green {
  color: $vega-green3;
}

.text-red {
  color: $vega-red3;
}

.bp3-dark a,
.bp3-dark a:hover {
  color: $white;
}

.bp3-dark .bp3-input {
  background-color: $dark-gray4;
}

.epoch-countdown {
  .bp3-progress-bar {
    border: 1px solid $white;
    border-radius: 0;
    height: 21px;

    .bp3-progress-meter {
      border-radius: 0;

      .bp3-dark & {
        background-color: $white;
      }
    }
  }
}
