@import "../../styles/colors";

.epoch-countdown {
  h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;
  }

  p {
    font-size: 12px;
    margin: 5px 0 0;
  }

  .bp3-progress-bar {
    border: 1px solid $white;
    border-radius: 0;
    height: 21px;

    .bp3-progress-meter {
      border-radius: 0;

      .bp3-dark & {
        background-color: $white;
      }
    }
  }

  &__title {
    display: flex;
    h3:first-child {
      flex: 1;
    }
  }

  &__arrow {
    flex: 1;
    text-align: center;

    img {
      width: 5px;
      transform: rotate(180deg);
    }
  }

  &__time-range {
    display: flex;
  }
}
