@import "../../styles/colors";

.token-input {
  &__container {
    display: flex;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &__input {
    flex: 1;
  }

  &__use-maximum {
    padding: 10px !important;
    height: 30px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__submit {
    margin-top: 10px;
  }

  &__callout-container {
    margin-top: 10px;
  }
}
