@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';

@font-face {
  font-family: AlphaLyrae;
  src: url('/assets/AlphaLyrae.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primitives */
    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-blue-300: 214 233 255;
    --color-blue: 0 117 255;
    --color-blue-700: 1 20 42;

    --color-red-300: 248 163 185;
    --color-red: 236 0 60;
    --color-red-700: 47 0 12;

    --color-orange-300: 255 236 214;
    --color-orange: 255 135 0;
    --color-orange-700: 42 23 1;

    --color-green-300: 214 254 235;
    --color-green: 0 247 128;
    --color-green-700: 1 41 21;

    /* grayscale */
    --gs-0: var(--color-white);
    --gs-50: 250 250 250;
    --gs-50-hex: #fafafa;
    --gs-100: 244 244 245;
    --gs-100-hex: #f4f4f5;
    --gs-200: 228 228 231;
    --gs-200-hex: #e4e4e7;
    --gs-300: 212 212 216;
    --gs-300-hex: #d4d4d8;
    --gs-400: 161 161 170;
    --gs-400-hex: #a1a1aa;
    --gs-500: 113 113 122;
    --gs-500-hex: #71717a;
    --gs-600: 82 82 91;
    --gs-600-hex: #52525b;
    --gs-700: 63 63 70;
    --gs-700-hex: #3f3f46;
    --gs-800: 39 39 42;
    --gs-800-hex: #27272a;
    --gs-900: 24 24 27;
    --gs-900-hex: #18181b;
    --gs-950: 9 9 11;
    --gs-950-hex: #09090b;

    /* Semantic colors
     *
     * - surface: standard background and foreground colors
     * - intent: base bg color, eg buttons
     * - intent-outline: borders
     * - intent-foreground: card text color
     * - intent-background: card bg color
     * - intent-from: 'from' color if using gradient, can be omitted and only works with none, primary and secondary buttons
     * - intent-to: 'to' color if using gradient, can be omitted and only works with none, primary and secondary buttons
     */

    --surface-0: var(--color-black);
    --surface-0-fg: var(--gs-50);
    --surface-0-fg-muted: var(--gs-800);
    --surface-1: var(--gs-950);
    --surface-1-fg: var(--gs-50);
    --surface-1-fg-muted: var(--gs-400);
    --surface-2: var(--gs-900);
    --surface-2-fg: var(--gs-50);
    --surface-2-fg-muted: var(--gs-400);
    --surface-3: var(--gs-800);
    --surface-3-fg: var(--gs-50);
    --surface-3-fg-muted: var(--gs-600);

    --intent-none: transparent;
    --intent-none-outline: var(--gs-700);
    --intent-none-foreground: var(--gs-50);
    --intent-none-background: var(--gs-800);

    --intent-primary: var(--color-blue);
    --intent-primary-outline: var(--color-blue);
    --intent-primary-foreground: var(--color-white);
    --intent-primary-background: var(--color-blue-700);

    --intent-secondary: var(--color-blue);
    --intent-secondary-outline: var(--color-blue);
    --intent-secondary-foreground: var(--color-white);
    --intent-secondary-background: var(--color-blue-700);

    --intent-danger: var(--color-red);
    --intent-danger-outline: var(--color-red);
    --intent-danger-foreground: var(--color-white);
    --intent-danger-background: var(--color-red-700);

    --intent-info: var(--color-blue);
    --intent-info-outline: var(--color-blue);
    --intent-info-foreground: var(--color-white);
    --intent-info-background: var(--color-blue-700);

    --intent-warning: var(--color-orange);
    --intent-warning-outline: var(--color-orange);
    --intent-warning-foreground: var(--color-white);
    --intent-warning-background: var(--color-orange-700);

    --intent-success: var(--color-green);
    --intent-success-outline: var(--color-green);
    --intent-success-foreground: var(--color-white);
    --intent-success-background: var(--color-green-700);

    /* Fonts */
    --font-sans: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --font-alt: AlphaLyrae, 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
      'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';

    /* Buttons */
    --button-border-width: 1px;
    --button-border-radius-xs: theme(borderRadius.DEFAULT);
    --button-border-radius-sm: theme(borderRadius.DEFAULT);
    --button-border-radius-md: theme(borderRadius.DEFAULT);
    --button-border-radius-lg: theme(borderRadius.lg);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl text-white mb-4;
  }
  h2 {
    @apply text-xl text-white mb-4;
  }
  p {
    @apply mb-2;
  }
}

@layer components {
  .border-default {
    @apply border-gs-400;
  }
}

/* AG GRID - Do not edit without updating other global stylesheets for each app */

.vega-ag-grid .ag-root-wrapper {
  border: solid 0px;
}

.vega-ag-grid .ag-react-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.vega-ag-grid .ag-cell,
.vega-ag-grid .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: calc(min(var(--ag-line-height, 26px), 26px) - 4px);
}

.vega-ag-grid .ag-row,
.vega-ag-grid .ag-cell {
  border-width: 0;
}

/* Dark variables */
.ag-theme-balham-dark {
  --ag-background-color: theme(colors.black);
  --ag-border-color: theme(colors.gs.700);
  --ag-header-background-color: theme(colors.black);
  --ag-odd-row-background-color: theme(colors.black);
  --ag-header-column-separator-color: theme(colors.gs.700);
  --ag-row-border-color: theme(colors.gs.900);
  --ag-row-hover-color: theme(colors.gs.900);
}

.validators-table .ag-theme-balham-dark .ag-body-horizontal-scroll {
  opacity: 0.75;
}
.validators-table .ag-theme-balham-dark *:hover {
  cursor: pointer;
}

/* Styles required to (effectively) un-override the
 * reset styles so that the Proposal description fields
 * render as you'd expect them to.
 *
 * Notes:
 * - image embeds are disabled, so no styles are required
 * - strong may not be required
 * - skipHTML is enabled, so no nested HTML will be rendered. Only
 * . valid markdown
 */

.dark .react-markdown-container,
.dark .react-markdown-container li,
.dark .react-markdown-container p {
  color: #fff;
}
.react-markdown-container strong {
  font-weight: bold;
}

.react-markdown-container ol {
  margin-left: 1em;
}
.react-markdown-container li {
  margin-left: 1em;
  padding-left: 1em;
}

.react-markdown-container ol li {
  list-style: decimal;
}

.react-markdown-container ul li {
  list-style: circle;
}

.react-markdown-container a {
  text-decoration: underline;
}

.jsondiffpatch-delta,
.jsondiffpatch-delta pre {
  font-family: 'Roboto Mono', monospace !important;
}

.jsondiffpatch-delta pre {
  padding: 0 0.25em !important;
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
  background: theme(colors.vega.green[650]) !important;
  color: theme(colors.white) !important;
}

.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
  background: theme(colors.vega.pink[650]) !important;
  color: theme(colors.white) !important;
}

.jsondiffpatch-moved .jsondiffpatch-moved-destination {
  background: theme(colors.vega.yellow[350]) !important;
  color: theme(colors.vega.dark[200]) !important;
}
