/**
 * TRADING VIEW
 *
 * https://www.tradingview.com/charting-library-docs/latest/customization/styles/CSS-Color-Themes
 */

:root:not(.theme-dark) {
  --tv-color-platform-background: #17191e;
  --tv-color-pane-background: #fff;
  --tv-color-toolbar-button-background-hover: #fff;
  --tv-color-toolbar-button-background-expanded: #eeeeef;
  --tv-color-toolbar-button-text-hover: #fff;
  --tv-color-popup-background: #eeeeef;
  --tv-color-popup-element-text: #040405;
  --tv-color-popup-element-background-hover: #aaabae;
  --tv-color-popup-element-background-active: #0075ff;
}

.theme-dark:root {
  --tv-color-platform-background: #17191e; /* cdark-900 */
  --tv-color-pane-background: #05060c; /* cdark-900 */
  --tv-color-toolbar-button-background-hover: #05060c;
  --tv-color-toolbar-button-background-expanded: #202227;
  --tv-color-toolbar-button-text-hover: #fff;
  --tv-color-popup-background: #202227;
  --tv-color-popup-element-text: #dcdee3;
  --tv-color-popup-element-background-hover: #44464b;
  --tv-color-popup-element-background-active: #0075ff;
}
