$font-main: "Helvetica neue", "Helvetica", arial, sans-serif;
$font-mono: "Roboto Mono", monospace;
$font-alpa-lyrae: AlphaLyrae, "Helvetica neue", "Helvetica", arial,
  sans-serif;

.font-main {
  font-family: $font-main;
}

.font-mono {
  font-family: $font-mono;
}

@font-face {
  font-family: AlphaLyrae;
  src: url(./AlphaLyrae-Medium.woff);
}
