{
	"app_state": {
	  "assets": {
		"fBTC": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "BTC (fake)",
		  "symbol": "fBTC",
		  "total_supply": "21000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "1000000"
			}
		  }
		},
		"fDAI": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "DAI (fake)",
		  "symbol": "fDAI",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "10000000000"
			}
		  }
		},
		"fEURO": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "EURO (fake)",
		  "symbol": "fEURO",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "10000000000"
			}
		  }
		},
		"fUSDC": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "USDC (fake)",
		  "symbol": "fUSDC",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "1000000000000"
			}
		  }
		},
		"XYZalpha": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (α alpha)",
		  "symbol": "XYZalpha",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZbeta": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (β beta)",
		  "symbol": "XYZbeta",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZgamma": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (γ gamma)",
		  "symbol": "XYZgamma",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZdelta": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (δ delta)",
		  "symbol": "XYZdelta",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZepsilon": {
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (ε epsilon)",
		  "symbol": "XYZepsilon",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"{{.GetVegaContractID "tBTC"}}": {
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "BTC (local)",
			"symbol": "tBTC",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.GetEthContractAddr "tBTC"}}"
				}
			}
		},
		"{{.GetVegaContractID "tDAI"}}": {
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "DAI (local)",
			"symbol": "tDAI",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.GetEthContractAddr "tDAI"}}"
				}
			}
		},
		"{{.GetVegaContractID "tEURO"}}": {
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "EURO (local)",
			"symbol": "tEURO",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.GetEthContractAddr "tEURO"}}"
				}
			}
		},
		"{{.GetVegaContractID "tUSDC"}}": {
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "USDC (local)",
			"symbol": "tUSDC",
			"total_supply": "0",
			"source": {
				"erc20": {
				"contract_address": "{{.GetEthContractAddr "tUSDC"}}"
				}
			}
		},
		"{{.GetVegaContractID "VEGA"}}": {
			"min_lp_stake": "1",
			"decimals": 18,
			"name": "Vega",
			"symbol": "VEGA",
			"total_supply": "64999723000000000000000000",
			"source": {
				"erc20": {
				"contract_address": "{{.GetEthContractAddr "VEGA"}}"
				}
			}
		}
	  },
	  "network": {
		"ReplayAttackThreshold": 30
	  },
	  "network_parameters": {
      "blockchains.ethereumConfig": "{\"network_id\": \"{{ .NetworkID }}\", \"chain_id\": \"{{ .ChainID }}\", \"collateral_bridge_contract\": { \"address\": \"{{.GetEthContractAddr "erc20_bridge_1"}}\" }, \"confirmations\": 3, \"staking_bridge_contract\": { \"address\": \"{{.GetEthContractAddr "staking_bridge"}}\", \"deployment_block_height\": 0}, \"token_vesting_contract\": { \"address\": \"{{.GetEthContractAddr "erc20_vesting"}}\", \"deployment_block_height\": 0 }, \"multisig_control_contract\": { \"address\": \"{{.GetEthContractAddr "MultisigControl"}}\", \"deployment_block_height\": 0 }}",
		"governance.proposal.asset.maxClose":"8760h0m0s",
		"governance.proposal.asset.maxEnact":"8760h0m0s",
		"governance.proposal.asset.minClose":"2s",
		"governance.proposal.asset.minEnact":"2s",
		"governance.proposal.asset.minProposerBalance":"0",
		"governance.proposal.asset.minVoterBalance":"0",
		"governance.proposal.asset.requiredMajority":"0.66",
		"governance.proposal.asset.requiredParticipation":"0.00000000000000000000000015",
		"governance.proposal.freeform.maxClose":"8760h0m0s",
		"governance.proposal.freeform.minClose":"48h0m0s",
		"governance.proposal.freeform.minProposerBalance":"1",
		"governance.proposal.freeform.minVoterBalance":"1",
		"governance.proposal.freeform.requiredMajority":"0.66",
		"governance.proposal.freeform.requiredParticipation":"0.00001",
		"governance.proposal.market.maxClose":"8760h0m0s",
		"governance.proposal.market.maxEnact":"8760h0m0s",
		"governance.proposal.market.minClose":"2s",
		"governance.proposal.market.minEnact":"2s",
		"governance.proposal.market.minProposerBalance":"0",
		"governance.proposal.market.minVoterBalance":"0",
		"governance.proposal.market.requiredMajority":"0.66",
		"governance.proposal.market.requiredParticipation":"0.00000000000000000000000015",
		"governance.proposal.updateAsset.maxClose":"8760h0m0s",
		"governance.proposal.updateAsset.maxEnact":"8760h0m0s",
		"governance.proposal.updateAsset.minClose":"48h0m0s",
		"governance.proposal.updateAsset.minEnact":"48h0m0s",
		"governance.proposal.updateAsset.minProposerBalance":"0",
		"governance.proposal.updateAsset.minVoterBalance":"0",
		"governance.proposal.updateAsset.requiredMajority":"0.66",
		"governance.proposal.updateAsset.requiredParticipation":"0.00001",
		"governance.proposal.updateMarket.maxClose":"8760h0m0s",
		"governance.proposal.updateMarket.maxEnact":"8760h0m0s",
		"governance.proposal.updateMarket.minClose":"2s",
		"governance.proposal.updateMarket.minEnact":"2s",
		"governance.proposal.updateMarket.minProposerBalance":"0",
		"governance.proposal.updateMarket.minProposerEquityLikeShare":"0.66",
		"governance.proposal.updateMarket.minVoterBalance":"0",
		"governance.proposal.updateMarket.requiredMajority":"0.66",
		"governance.proposal.updateMarket.requiredMajorityLP":"0.66",
		"governance.proposal.updateMarket.requiredParticipation":"0.00000000000000000000000015",
		"governance.proposal.updateMarket.requiredParticipationLP":"0.00001",
		"governance.proposal.updateNetParam.maxClose":"8760h0m0s",
		"governance.proposal.updateNetParam.maxEnact":"8760h0m0s",
		"governance.proposal.updateNetParam.minClose":"2s",
		"governance.proposal.updateNetParam.minEnact":"2s",
		"governance.proposal.updateNetParam.minProposerBalance":"0",
		"governance.proposal.updateNetParam.minVoterBalance":"0",
		"governance.proposal.updateNetParam.requiredMajority":"0.66",
		"governance.proposal.updateNetParam.requiredParticipation":"0.00000000000000000000000015",
		"limits.assets.proposeEnabledFrom":"2100-12-30T00:00:00Z",
		"limits.markets.proposeEnabledFrom":"2100-12-30T00:00:00Z",
		"market.auction.maximumDuration":"168h0m0s",
		"market.auction.minimumDuration":"3s",
		"market.fee.factors.infrastructureFee":"0.001",
		"market.fee.factors.makerFee":"0.004",
		"market.liquidity.bondPenaltyParameter":"1",
		"market.liquidity.maximumLiquidityFeeFactorLevel":"1",
		"market.liquidity.minimum.probabilityOfTrading.lpOrders":"1e-8",
		"market.liquidity.probabilityOfTrading.tau.scaling":"1",
		"market.liquidity.providers.fee.distributionTimeStep":"0s",
		"market.liquidity.stakeToCcySiskas":"0.3",
		"market.liquidity.targetstake.triggering.ratio":"0.7",
		"market.liquidityProvision.minLpStakeQuantumMultiple":"1",
		"market.liquidityProvision.shapes.maxSize":"100",
		"market.margin.scalingFactors":"{\"search_level\": 1.1, \"initial_margin\": 1.2, \"collateral_release\": 1.4}",
		"market.monitor.price.defaultParameters":"{\"triggers\": []}",
		"market.stake.target.scalingFactor":"10",
		"market.stake.target.timeWindow":"1h0m0s",
		"market.value.windowLength":"168h0m0s",
		"network.checkpoint.timeElapsedBetweenCheckpoints":"10s",
		"network.floatingPointUpdates.delay":"5m",
		"network.validators.ersatz.multipleOfTendermintValidators":"0.5",
		"network.validators.ersatz.rewardFactor":"0.5",
		"network.validators.incumbentBonus":"1",
		"network.validators.minimumEthereumEventsForNewValidator":"3",
		"network.validators.multisig.numberOfSigners":"13",
		"network.validators.tendermint.number":"30",
		"network.checkpoint.timeElapsedBetweenCheckpoints": "10s",
		"reward.asset":"{{.GetVegaContractID "VEGA"}}",
		"reward.staking.delegation.competitionLevel":"3.1",
		"reward.staking.delegation.delegatorShare":"0.883",
		"reward.staking.delegation.maxPayoutPerEpoch":"7000000000000000000000",
		"reward.staking.delegation.maxPayoutPerParticipant":"700000000000000000000",
		"reward.staking.delegation.minValidators":"5",
		"reward.staking.delegation.minimumValidatorStake":"3000000000000000000000",
		"reward.staking.delegation.optimalStakeMultiplier":"3.0",
		"reward.staking.delegation.payoutDelay":"5m",
		"reward.staking.delegation.payoutFraction":"0.007",
		"rewards.marketCreationQuantumMultiple":"10000000",
		"snapshot.interval.length":"1000",
		"spam.pow.difficulty":"15",
		"spam.pow.hashFunction":"sha3_24_rounds",
		"spam.pow.increaseDifficulty":"0",
		"spam.pow.numberOfPastBlocks":"100",
		"spam.pow.numberOfTxPerBlock":"2",
		"spam.protection.delegation.min.tokens":"2000000000000000000",
		"spam.protection.max.batchSize":"15",
		"spam.protection.max.delegations":"390",
		"spam.protection.max.proposals":"100",
		"spam.protection.max.votes":"100",
		"spam.protection.maxUserTransfersPerEpoch":"20",
		"spam.protection.proposal.min.tokens":"1000000000000000000",
		"spam.protection.voting.min.tokens":"1000000000000000000",
		"transfer.fee.factor":"0.001",
		"transfer.minTransferQuantumMultiple":"0.1",
		"validators.delegation.minAmount":"100000000000000000",
		"validators.epoch.length":"5s",
		"validators.vote.required":"0.67"
	  },
	  "network_limits": {
		"propose_asset_enabled": true,
		"propose_asset_enabled_from": "2021-09-01T00:00:00Z",
		"propose_market_enabled": true,
		"propose_market_enabled_from": "2021-09-01T00:00:00Z"
	  }
	},
	"consensus_params": {
	  "block": {
		"time_iota_ms": "1"
	  }
	}
}