.ag-theme-alpine {
  --ag-line-height: 24px;
  --ag-row-hover-color: transparent;
  --ag-header-background-color: transparent;
  --ag-odd-row-background-color: transparent;
  --ag-header-foreground-color: #626262;
  --ag-secondary-foreground-color: #626262;
  --ag-font-size: 16px;
  --ag-background-color: transparent;
  --ag-range-selection-border-color: transparent;

  font-family: AlphaLyrae, Helvetica Neue, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: 'liga' 0, 'calt' 0;
}

.ag-theme-alpine .ag-cell {
  display: flex;
}

.ag-theme-alpine .ag-header {
  border-bottom: 1px solid #a7a7a7;
  font-size: 15px;
  line-height: 1em;
  text-transform: uppercase;
}

.ag-theme-alpine .ag-root-wrapper {
  border: none;
}

.ag-theme-alpine .ag-header-row {
  font-weight: 500;
}

.ag-theme-alpine .ag-row {
  border: none;
  border-bottom: 1px solid #bfccd6;
  font-size: 12px;
}

.ag-theme-alpine .ag-root-wrapper-body.ag-layout-normal {
  height: auto;
}

.ag-theme-alpine.row-hover .ag-row:hover {
  background: #f0f0f0;
  cursor: pointer;
}
