GatewayEnabled = true
[SQLStore]
  Enabled = true
  [SQLStore.ConnectionConfig]
    Database = "vega{{.NodeNumber}}"
    Host = "localhost"
    Password = "vega"
    Port = 5232
    UseTransactions = true
    Username = "vega"

[API]
  Level = "Info"
  Port = {{add 300 .NodeNumber}}7
  CoreNodeGRPCPort = {{add 300 .NodeNumber}}2

[Pprof]
  Level = "Info"
  Enabled = true
  Port = {{add 60 .NodeNumber}}60
  ProfilesDir = "{{.NodeHomeDir}}"

[Gateway]
  Level = "Info"
  [Gateway.Node]
    Port = {{add 300 .NodeNumber}}7
  [Gateway.GraphQL]
    Port = {{add 300 .NodeNumber}}8
  [Gateway.REST]
    Port = {{add 300 .NodeNumber}}9

[Metrics]
  Level = "Info"
  Timeout = "5s"
  Port = {{add 210 .NodeNumber}}2
  Enabled = false
[Broker]
  Level = "Info"
  UseEventFile = false
  PanicOnError = false
  [Broker.SocketConfig]
    Port = {{add 300 .NodeNumber}}5

[NetworkHistory]
  Level = "Info"
  Enabled = true
  WipeOnStartup = true
  AddSnapshotsToStore = true
  AddSnapshotsInterval = "5s"
  [NetworkHistory.Store]
    PeerID = "{{.GetNetworkHistoryPeerID .NodeNumber}}"
    PrivKey = "{{.GetNetworkHistoryPrivKey .NodeNumber}}"

    BootstrapPeers = [{{- range $i, $peer := .IPSFPeers -}}
      {{- if ne $i 0 }},{{end -}}
      "/ip4/127.0.0.1/tcp/{{add 400 $peer.Index}}5/ipfs/{{ $peer.ID }}"
    {{- end -}}]

    UseIpfsDefaultPeers = false
    SwarmPort = {{add 400 .NodeNumber}}5
    StartWebUI = false
    WebUIPort = {{add 500 .NodeNumber}}5
  [NetworkHistory.Snapshot]
    PanicOnSnapshotCreationError = true
    WaitForCreationLockTimeout = "5s"
