GatewayEnabled = true

[SQLStore]
  Enabled = true
  [SQLStore.ConnectionConfig]
    Database = "vega{{.NodeNumber}}"
    Host = "localhost"
    Password = "vega"
    Port = 5232
    UseTransactions = true
    Username = "vega"


[API]
  Level = "Info"
  Port = 30{{.NodeNumber}}7
  CoreNodeGRPCPort = 30{{.NodeNumber}}2

[Pprof]
  Level = "Info"
  Enabled = false
  Port = 6{{.NodeNumber}}60
  ProfilesDir = "{{.NodeHomeDir}}"

[Gateway]
  Level = "Info"
  [Gateway.Node]
    Port = 30{{.NodeNumber}}7
  [Gateway.GraphQL]
    Port = 30{{.NodeNumber}}8
  [Gateway.REST]
    Port = 30{{.NodeNumber}}9

[Metrics]
  Level = "Info"
  Timeout = "5s"
  Port = 21{{.NodeNumber}}2
  Enabled = false
[Broker]
  Level = "Info"
  UseEventFile = false
  [Broker.SocketConfig]
    Port = 30{{.NodeNumber}}5

[DeHistory]
  Enabled = true
