log_level = "info"

proxy_app = "tcp://127.0.0.1:{{add 2660 .NodeNumber}}8"
moniker = "{{.TendermintNodePrefix}}-{{.NodeNumber}}"

[rpc]
  laddr = "tcp://0.0.0.0:{{add 2660 .NodeNumber}}7"
  unsafe = true
  cors_allowed_origins = ["*"]
  cors_allowed_methods = ["HEAD", "GET", "POST", ]
  cors_allowed_headers = ["Origin", "Accept", "Content-Type", "X-Requested-With", "X-Server-Time", ]

[p2p]
  laddr = "tcp://0.0.0.0:{{add 2660 .NodeNumber}}6"
  addr_book_strict = false
  max_packet_msg_payload_size = 4096
  pex = false
  allow_duplicate_ip = true

  persistent_peers = "{{- range $i, $peer := .NodePeers -}}
	  {{- if ne $i 0 }},{{end -}}
	  {{- $peer.ID}}@127.0.0.1:{{add 2660 $peer.Index}}6
  {{- end -}}"


[mempool]
  size = 10000
  cache_size = 20000

[consensus]
  skip_timeout_commit = true
