@import "../../styles/colors";

.modal {
  left: calc(50vw - 200px);
  margin: 10vh 0;
  top: 0;
  width: 400px;
  background: $white;
  color: $black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $black;
  }

  a:hover {
    color: $black;
    text-decoration: underline;
  }

  &__title {
    text-align: center;
    border-bottom: solid 1px $white;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  &__content {
    padding: 0 20px 20px 20px;
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &--dark {
    background-color: $black;
    color: $white;
    border: 1px solid $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $white;
    }
  }
}
