@import '../../styles/fonts';

.heading {
  &__title {
    font-family: $font-alpa-lyrae;
    font-weight: normal;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;

    &-container {
      margin: 0 auto;
    }

    @media (min-width: 960px) {
      font-size: 35px;
    }
  }
}
