@import "../../styles/colors";
@import "../../styles/fonts";

.node-list {
  list-style: none;
  margin: 0;
  margin-top: 24px;
  padding: 0;

  > li {
    word-break: break-all;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    display: flex;
  }

  table {
    flex: 1;
    font-size: 14px;
    border-collapse: collapse;
    margin-top: 3px;
  }

  tr {
    display: flex;
  }

  th,
  td {
    flex: 1;
    word-break: break-word;
    padding: 1px 5px;
  }

  th {
    color: $text-color-deemphasise;
    font-weight: normal;
    padding-left: 0;
  }

  td {
    font-family: $font-mono;
    text-align: right;
  }

  &__item-name {
    margin-right: 3px;
    text-decoration: underline;
  }

  &__item-id {
    text-transform: uppercase;
    font-size: 0.8em;
    align-self: flex-end;
  }
}
