@import "../../styles/colors";

.vega-wallet-not-running {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__text-container {
    display: flex;
    border-left: 4px solid $vega-red3;
  }

  &__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    > p {
      margin-bottom: 2px;
    }
  }

  &__exclamation {
    color: $vega-red3;
    padding-left: 8px;
  }

  &__text {
    padding-left: 12px;
    color: $text-color-deemphasise;
  }
}
