.loader {
  display: flex;
  flex-flow: row wrap;
  width: 15px;
  height: 15px;

  span {
    display: block;
    width: 5px;
    height: 5px;
    background: white;
    opacity: 0;
  }

  &--dark {
    span {
      background: black;
    }
  }
}
