@import "../../../../styles/colors";

.vote-buttons {
  &__button-container {
    display: flex;
  }

  &__button {
    width: calc(50% - 7px);
    margin-top: 5px;

    &:first-child {
      margin-right: 10px;
    }
  }
}
