name: Cypress tests -- night run

# This workflow runs the frontend tests against latest develop of the core to preempt breaking changes

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  nightly:
    uses: ./.github/workflows/tests-dispatcher.yml
    secrets: inherit
    with:
      project: '[console-lite-e2e, explorer-e2e, liquidity-provision-dashboard-e2e, token-e2e, trading-e2e]'
      tags: --env.grepTags '[ @smoke, @regression, @slow ]'
      night-run: true
