on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      skip-cache:
        required: false
        type: string
      tags:
        required: false
        type: string
      night-run:
        required: false
        type: boolean

jobs:
  run-console-lite-e2e:
    uses: ./.github/workflows/cypress-console-lite-e2e.yml
    secrets: inherit
    with:
      trigger: ${{ contains(inputs.project, 'console-lite-e2e') || contains(inputs.project, 'console-lite') }}
      skip-cache: ${{ inputs.skip-cache }}
      tags: ${{ inputs.tags }}

  run-explorer-e2e:
    uses: ./.github/workflows/cypress-explorer-e2e.yml
    secrets: inherit
    with:
      trigger: ${{ contains(inputs.project, 'explorer-e2e') || contains(inputs.project, 'explorer') }}
      skip-cache: ${{ inputs.skip-cache }}
      tags: ${{ inputs.tags }}
      night-run: ${{ inputs.night-run }}

  run-liquidity-e2e:
    uses: ./.github/workflows/cypress-liquidity-provision-dashboard-e2e.yml
    secrets: inherit
    with:
      trigger: ${{ contains(inputs.project, 'liquidity-provision-dashboard-e2e') || contains(inputs.project, 'liquidity-provision-dashboard') }}

  run-token-e2e:
    uses: ./.github/workflows/cypress-token-e2e.yml
    secrets: inherit
    with:
      trigger: ${{ contains(inputs.project, 'token-e2e') || contains(inputs.project, 'token') }}
      skip-cache: ${{ inputs.skip-cache }}
      tags: ${{ inputs.tags }}

  run-trading-e2e:
    uses: ./.github/workflows/cypress-trading-e2e.yml
    secrets: inherit
    with:
      trigger: ${{ contains(inputs.project, 'trading-e2e') || contains(inputs.project, 'trading') }}
      skip-cache: ${{ inputs.skip-cache }}
      tags: ${{ inputs.tags }}
